<template>
  <Button
  >
    <a class="
      relative
      w-52
      m-4
      px-5
      py-4
      bg-coo-orange
      rounded-[30px]
      text-white text-base
      font-semibold
      text-center
      tracking-normal
      leading-4
      object-fill
    " :href="href">
      <slot></slot>
    </a>
  </Button>
</template>
<script>
export default {
  props: ["href"],
  name: "basic-button",
};
</script>