<template>
    <div class="fixed top-0 w-full flex items-center justify-end sm:px-2 z-50 transition-all ease-in">
        <nav class="w-full py-3 flex flex-col md:flex-row md:items-center md:justify-between lg:container lg:m-auto">
           
        </nav>
    </div>
</template>
<script>

export default {
    
}
</script>
