<template>
<nav class="relative -top-1 left-11 flex  justify-center">
    <div class="">
       <span class="">
                    <nav-link to="/" class="">
                    <img src="src/assets/logos/cooperation-logo.png" width="180"/>
            </nav-link>
        </span>
    </div>
</nav>
<nav class="absolute top-7 right-12 flex justify-center space-x-10">
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/about-us" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-md font-nav tracking-wider font-bold text-coo-green border-nav-border hover:text-coo-orange hover:underline hover:decoration-5 hover:underline-offset-25">ÜBER UNS</span>
                        </nav-link>
                    </span>
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/fallkonferenzen" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-md font-nav tracking-wider font-bold text-coo-green border-nav-border hover:text-coo-orange hover:underline hover:decoration-5 hover:underline-offset-25">FALLKONFERENZEN</span>
                        </nav-link>
                    </span>
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/fortbildungen" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-md font-nav tracking-wider font-bold text-coo-green border-nav-border hover:text-coo-orange hover:underline hover:decoration-5 hover:underline-offset-25">FORTBILDUNGEN</span>
                        </nav-link>
                    </span>
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/literatur" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-md font-nav tracking-wider font-bold text-coo-green border-nav-border hover:text-coo-orange hover:underline hover:decoration-5 hover:underline-offset-25">LITERATUR</span>
                        </nav-link>
                    </span>
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/contact" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-md font-nav tracking-wider font-bold text-coo-green border-nav-border  hover:textcoo--orange hover:underline hover:decoration-5 hover:underline-offset-25">KONTAKT</span>
                        </nav-link>
                    </span>
                    <span class="flex flex-row items-center justify-between inset-0">
                        <div class="flex justify-start items-center space-x-2 py-2 ">
                             <span class="text-coo-orange hover:cursor-pointer">
                             <login-logo></login-logo>
                                </span>
                            <span class="text-xs font-nav font-bold tracking-wider text-coo-orange border-nav-border hover:text-coo-orange hover:underline hover:decoration-5 hover:underline-offset-25">LOGIN</span>
                        </div>
                    </span>
        </nav>
</template>
<script>
import NavLink from './NavLink.vue'
import LoginLogo from '../Logos/LoginLogo.vue'
export default {
    components: {
    NavLink,
    LoginLogo,
}
}
</script>