<template>
    <router-link :to="to" :class="classes">
        <slot></slot>
    </router-link>
</template>

<script>
export default {
    props: ["to", "active"],
    name: "nav-link",
    computed: {
        classes() {
            return this.active
                ? " is-active text-xs font-medium leading-5 focus:outline-none"
                : "text-xs font-medium leading-5  focus:outline-none ";
        }
    }
};
</script>