<template>
    <default-layout>
        
    </default-layout>

    <div class="relative">
    <p>Fortbildungen Test</p> 
</div>
</template>

<script> 
import DefaultLayout from '../layouts/DefaultLayout.vue' 
export default {
    components: {
        DefaultLayout 
    }
}
</script>