<template>
  <default-layout>
    <main class="w-full">
      <section class="w-full h-full px-[100px] py-32 bg-green-300">
        <img src="" alt="" />
        <div
          class="
            absolute
            left-auto
            top-1/5
            right-1/4
            bottom-1/7
            bg-white
            w-[35vw]
            h-[35vw]
            rounded-full
            transition-all
            ease-linear
            duration-300
            opacity-50
            hover:bg-coo-green
          "
        ></div>
        <div
          class="
            absolute
            left-auto
            top-1/5
            right-1/20
            bottom-1/12
            w-[35vw]
            h-[35vw]
            rounded-full
            opacity-50
            bg-coo-green
            transition-all
            ease-linear
            duration-300
            hover:bg-white
          "
        ></div>
        <h1
          class="
            relative
            top-1/3
            p-10
            text-black-trans-80 text-8xl
            font-bold
            tracking-widest
          "
        >
          <span
            class="
              transition-all
              ease-linear
              duration-300
              text-coo-green
              drop-shadow-md
            "
            >CO</span
          >
          <span class="text-coo-green">|</span>
          <span class="drop-shadow-xs shadow-grey-500">OPERATION</span>
        </h1>
        <h3
          class="
            relative
            top-1/3
            p-5
            mt-5
            mb-7
            text-black text-lg
            font-light
            tracking-tight
          "
        >
          Eine Initiative zur Verbesserung der Versorgung von Patienten mit
          chronisch-entzündlichen <br />
          Darmerkrankungen durch optimierte Vernetzung von Gastroenterologie und
          Chirurgie
        </h3>
        <div class="relative top-1/3 pl-[10%] min-w-[350px]">
          <basic-button :href="'#unsere_angebote'">Unser Angebot</basic-button>
          <basic-button :href="'src/documents/Projektbroschüre.pdf'"
            >Projektbroschüre</basic-button
          >
        </div>
      </section>
      <section class="flex flex-col w-full bg-white py-9 justify-center">
        <h1
          class="
            text-center
            my-10
            text-lg
            font-bold
            leading-6
            tracking-wider
            uppercase
            text-[#2b2b2b]
          "
        >
          Unser Angebot
        </h1>
        <section class="flex w-3/4 justify-center place-content-center">
          <div class="flex flex-row w-full justify-center space-x-5">
            <div
              class="
                flex flex-col
                w-1/4
                text-[#6b6b6b] text-xs text-center
                leading-[18px]
                overflow-hidden
                transition-all
                duration-300
              "
            >
              <a href="/fallkonferenzen">
                <img
                  src="src/img/icons/ICONS_COOPERATION-02.png"
                  alt="Fallkonferenz-Icon"
                />
                <h2
                  class="
                    mt-7
                    mb-3
                    text-coo-green text-xl
                    leading-7
                    text-center
                    font-semibold
                    transition-all
                    ease-linear
                    duration-300
                  "
                >
                  Fallkonferenz
                </h2>
                <p>
                  Sie können hier Ihre individuelle Fallkonferenz mit je einem
                  Experten aus der Gastroenterologie un Viszeralchirurgie
                  buchen.
                </p>
              </a>
            </div>
            <div
              class="
                flex flex-col
                w-1/4
                text-[#6b6b6b] text-xs text-center
                leading-[18px]
                overflow-hidden
                transition-all
                duration-300
              "
            >
              <a href="/fortbildungen">
                <img
                  src="src/img/icons/ICONS_COOPERATION-01.png"
                  alt="Fallkonferenz-Icon"
                />
                <h2
                  class="
                    mt-7
                    mb-3
                    text-coo-green text-xl
                    leading-7
                    text-center
                    font-semibold
                    transition-all
                    ease-linear
                    duration-300
                  "
                >
                  Webinare
                </h2>
                <p>
                  Wir bieten ihnen regelmäßig Webinare mit wechselnden
                  thematischen Schwerpunkten in der Diagnostik und Therapie an.
                </p>
              </a>
            </div>
            <div
              class="
                flex flex-col
                w-1/4
                text-[#6b6b6b] text-xs text-center
                leading-[18px]
                overflow-hidden
                transition-all
                duration-300
              "
            >
              <a href="/fortbildungen">
                <img
                  src="src/img/icons/ICONS_COOPERATION-04.png"
                  alt="Fallkonferenz-Icon"
                />
                <h2
                  class="
                    mt-7
                    mb-3
                    text-coo-green text-xl
                    leading-7
                    text-center
                    font-semibold
                    transition-all
                    ease-linear
                    duration-300
                  "
                >
                  Präsenzveranstaltungen
                </h2>
                <p>
                  Zweimal im Jahr finden Fortbildungen in der Region
                  Rhein-Neckar bzw. Stuttgart statt.
                </p>
              </a>
            </div>
            <div
              class="
                flex flex-col
                w-1/4
                text-[#6b6b6b] text-xs text-center
                leading-[18px]
                overflow-hidden
                transition-all
                duration-300
              "
            >
              <a href="/fallkonferenzen">
                <img
                  src="src/img/icons/ICONS_COOPERATION-11.png"
                  alt="Fallkonferenz-Icon"
                />
                <h2
                  class="
                    mt-7
                    mb-3
                    text-coo-green text-xl
                    leading-7
                    text-center
                    font-semibold
                    transition-all
                    ease-linear
                    duration-300
                  "
                >
                  Tutorship Flying Surgeon
                </h2>
                <p>
                  Es besteht die Möglichkeit einen Experten aus der
                  CED-Viszeralchirurgie in Ihr Haus einzuladen.
                </p>
              </a>
            </div>
          </div>
        </section>
      </section>
      <section class="bg-coo-bg-gray py-9 px-[100px]">
        <h1
          class="
            text-center
            my-10
            font-bold
            leading-6
            text-lg
            tracking-[2px]
            uppercase
            text-coo-subheader
          "
        >
          Zielsetzung
        </h1>
        <h3
          class="
            text-center text-coo-subheader text-sm
            leading-7
            font-semibold
            mb-3
          "
        >
          Interdisziplinäre Zusammenarbeit fördern, Patientenversorgung
          optimieren.
        </h3>
        <div class="w-full flex flex-row">
          <div
            class="
              relative
              w-1/2
              text-coo-subheader text-sm
              leading-6
              font-light
              text-left
              p-3
            "
          >
            Die Chirurgie ist ein essentieller Bestandteil der Therapie von
            Patienten in der Inneren Medizin. Aktuell werden in Deutschland pro
            Jahr ca. 5.000 Operationen mit dem Hintergrund einer CED
            durchgeführt. Um Patienten möglichst gut beraten zu können und sie
            zum richtigen Zeitpunkt notwendigen Operationen zuzuführen, ist der
            Austausch zwischen Gastroenterologen (meist in Praxen) und Chirurgen
            (in den Kliniken) enorm wichtig. Auch das Wissen über neue
            Entwicklungen in der jeweils anderen Disziplin ist von großer
            Bedeutung.
          </div>
          <div
            class="
              relative
              w-1/2
              text-coo-subheader text-sm
              leading-6
              font-light
              text-left
              p-3
            "
          >
            <span style="color: #04af85; font-weight: 500">CO</span
            ><span
              style="
                color: #04af85;
                padding: 0 2px;
                font-weight: 500;
                position: relative;
                bottom: 1px;
              "
              >|</span
            ><span style="color: #2b2b2b; font-weight: 500">OPERATION</span>
            soll Gastroenterologen und Viszeralchirurgen insbesondere durch das
            Angebot von Fallkonferenzen noch besser vernetzen. Durch eine
            optimale interdisziplinäre Vernetzung können Patienten, insbesondere
            im ambulanten Bereich, schnell und unkompliziert vermittelt werden.
            Die Initiative
            <span style="color: #04af85; font-weight: 300">CO</span
            ><span
              style="
                color: #04af85;
                padding: 0 2px;
                font-weight: 300;
                position: relative;
                bottom: 1px;
              "
              >|</span
            ><span style="color: #2b2b2b; font-weight: 300">OPERATION</span>
            zielt darauf ab, die interdisziplinäre Ausbildung weiter zu
            verbessern, die Zuweisung von CED-Betroffenen in qualifizierte
            OP-Zentren zu fördern und die prä- und postoperative Therapie zu
            optimieren, um dadurch die Qualität der Versorgung von Patienten
            nachhaltig positiv zu beeinflussen.
          </div>
        </div>
      </section>
    </main>
  </default-layout>
</template>

<script>
import DefaultLayout from "../layouts/DefaultLayout.vue";
import BasicButton from "../components/Buttons/BasicButton.vue";
export default {
  components: {
    DefaultLayout,
    BasicButton,
  },
};
</script>