.circle1 {
    position: absolute;
    /* background: url('../images/icons/ICONS_COOPERATION-02.png') center center;
    background-size: cover; */
    left: auto;
    top: 18%;
    right: 25%;
    bottom: 15%;
    width: 35vw;
    height: 35vw;
    border-radius: 100%;
    background-color: #fff;
    opacity: .5;
    transition: all .3s linear;
}

.circle1:hover {
    background-color: var(--primary-color);
}

.circle1:hover~.circle2 {
    background-color: rgba(255, 255, 255, .7);
}

.circle2 {
    position: absolute;
    left: auto;
    top: 18%;
    right: 5%;
    bottom: 15%;
    width: 35vw;
    height: 35vw;
    border-radius: 100%;
    background-color: var(--primary-color);
    opacity: .5;
    transition: all .3s linear;
}

.circle2:hover {
    background-color: #04af85b3;
}

h1.heading-1 {
    position: relative;
    top: 30%;
    padding-left: 10vw;
    color: #2b2b2b;
    font-size: 6.3vw;
    font-weight: 800;
    letter-spacing: 7px;
    text-shadow: 3px 3px 7px rgba(43, 43, 43, 0.51);
}

.hero-subhead {
    position: relative;
    top: 30%;
    padding-left: 10vw;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #000;
    font-size: 1.5vw;
    line-height: 32.5px;
    font-weight: 300;
    letter-spacing: -1px;
}

.coo-CO {
    color: var(--primary-color);
    transition: all .3s ease;
}

.coo-CO.black {
    font-size: 6.3vw;
    font-weight: 800;
    letter-spacing: 7px;
    color: #2b2b2b;
}

.coo-button-banner {
    min-width: 350px;
    position: relative;
    top: 33%;
    padding-left: 10vw;
}

.coo-button {
    position: relative;
    width: 200px;
    margin: 15px 0;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 30px;
    background-color: var(--coo-orange-color);
    -webkit-transition: background-color 300ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
    transition: background-color 300ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0;
    -o-object-fit: fill;
    object-fit: fill;
}

.title {
    margin: 40px 0;
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}