<template>
<section class="flex-col flex justify-center place-items-center p-11 bg-footer-color">
    <div class="">
       <span class="">
                    <img src="src/assets/logos/cooperation_logo_white.svg" width="150"/>     
        </span> 
    </div>
<section class="relative flex flex-row justify-center space-x-20 p-8 bottom-5">
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/contact" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-bold text-lg text-gray-200 border-nav-border hover:text-sin-blue">Kontakt</span>
                        </nav-link>
                    </span>
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/transparenz" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-bold text-lg text-gray-200 border-nav-border hover:text-sin-blue">Transparenz</span>
                        </nav-link>
                    </span>
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/impressum" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-bold text-lg text-gray-200 border-nav-border hover:text-sin-blue">Impressum</span>
                        </nav-link>
                    </span>
                    <span class="flex flex-row items-center justify-between inset-0">
                        <nav-link to="/datenschutz" class="flex justify-start items-center space-x-2 py-2">
                            <span class="text-bold text-lg text-gray-200 border-nav-border hover:text-sin-blue">Datenschutzrichtlinie</span>
                        </nav-link>
                    </span>
        </section>
    </section>

</template>

<script>

import NavLink from '../Navigation/NavLink.vue'

export default {
    components: {
        NavLink
    }
}

</script>