<template>
    <div class="relative">
        <!-- Page Heading -->
        <!-- Page Content -->
        <header class=" antialiased">
            <div class="w-full">
                <section class="flex flex-row justify-between space-x-10 w-full relative">
                        <nav-bar></nav-bar>
                </section>
            </div>
        </header>
        <slot></slot>
        <footer class="">
            <section>
                    <div class="flex flex-col justify-between place-content-center w-full top-[100vh] -space-y-10">
                    <footer-component></footer-component>
                    </div>
            </section>
        </footer>
    </div>
</template>
<script>
import NavBar from '../components/Navigation/NavBar.vue'
import FooterComponent from '../components/Footer/FooterComponent.vue'
export default {
    components: {
        NavBar,
        FooterComponent
    }
}
</script>